@media (min-width: 320px) and (max-width: 620px) {
  body {
    background-color: white;
  }

  .title-map {
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 70px;
  }

  .subtitle-map {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #c48506;
    margin-top: 10px;
  }

  .list-item {
    list-style-type: none;
    background-color: grey;
    padding-left: 5px;
    margin-left: 0%;
    width: 90%;
  }

  .list-item:hover {
    list-style-type: none;
    background-color: black;
    padding-left: 5px;
    margin-left: 0%;
    width: 90%;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
  }

  .places-list {
    margin-left: 0;
  }

  #map {
    height: 900px;
    margin: 0 0.5% 20px 0.5%;
    border-radius: 20px;
  }

  #map-container {
    display: block;
  }

  .place-name {
    color: #fcba03;
    font-family: 'Raleway';
    padding: 5px 0 5px 0;
    margin-top: 0;
    margin-bottom: 2px;
  }
}

@media (min-width: 621px) and (max-width: 800px) {
  body {
    background-color: white;
  }

  .title-map {
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 70px;
  }

  .subtitle-map {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #c48506;
    margin-top: 10px;
    margin-left: 30px;
  }

  .list-item {
    list-style-type: none;
    background-color: grey;
    padding-left: 5px;
    margin-left: 0%;
    border-radius: 10px;
  }

  .list-item:hover {
    list-style-type: none;
    background-color: black;
    padding-left: 5px;
    margin-left: 0%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
  }

  .places-list {
    margin-left: 0;
  }

  #map {
    height: 900px;
    margin: 40px 0.5% 20px 0.5%;
    border-radius: 20px;
  }

  #map-container {
    display: grid;
    grid-template-columns: 28% 1fr;
    grid-column-gap: 10px
  }

  .place-name {
    color: #fcba03;
    font-family: 'Raleway';
    padding: 5px 0 5px 0;
    margin-top: 0;
    margin-bottom: 2px;
  }
}


@media (min-width: 801px) {
  body {
    background-color: white;
  }

  .title-map {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 100px;
  }

  .subtitle-map {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #c48506;
    margin-top: 10px;
  }

  .list-item {
    list-style-type: none;
    background-color: grey;
    border-radius: 10px;
    padding-left: 5px;
  }

  .list-item:hover {
    list-style-type: none;
    background-color: black;
    border-radius: 10px;
    padding-left: 5px;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
  }

  #map {
    height: 900px;
    margin: 5% 2% 20px 2%;
    border-radius: 20px;
  }

  #map-container {
    display: grid;
    grid-template-columns: 26% 1fr;
  }

  .place-name {
    color: #fcba03;
    font-family: 'Raleway';
    padding: 5px 0 5px 0;
    margin-top: 0;
    margin-bottom: 1.5px;
  }
}
