@media (min-width: 320px) and (max-width: 640px) {
  body {
    background-color: white;
  }

  .title-map {
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 70px;
  }

  .subtitle-map {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 10px;
    margin-left: 30px;
  }

  #map {
    height: 700px;
    margin: 0 1% 20px 1%;
    border-radius: 20px;
  }
}


@media (min-width: 640px) {
  body {
    background-color: white;
  }

  .title-map {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 100px;
  }

  .subtitle-map {
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #c48506;
    margin-top: 10px;
    margin-left: 30px;
  }

  #map {
    height: 700px;
    margin: 0 10% 20px 10%;
    border-radius: 20px;
  }
}
